---
const { id, text } = Astro.props;
---

<button
  id={id}
  class="hover:bg-highlightedLight dark:hover:bg-highlightedDark flex cursor-pointer border px-2 py-1 transition-colors lg:px-3 lg:py-2"
  aria-label={text}
>
  <slot />
  <span class="hidden lg:ml-1 lg:inline">{text}</span>
</button>
