---
import Button from "@components/buttons/Button.astro";
import SunIcon from "@components/icons/SunIcon.astro";
import MoonIcon from "@components/icons/MoonIcon.astro";

const id = "mode-button";
const sunIconId = "sun-icon";
const moonIconId = "moon-icon";
---

<Button id={id} text="Modo">
  <div id={sunIconId}><SunIcon /></div>
  <div id={moonIconId}><MoonIcon /></div>
</Button>

<script define:vars={{ id, sunIconId, moonIconId }}>
  const MODE = {
    LIGHT: "light",
    DARK: "dark",
  };
  const html = document.getElementById("root");
  const modeButton = document.getElementById(id);
  const sunIcon = document.getElementById(sunIconId);
  const moonIcon = document.getElementById(moonIconId);
  const metaThemeColor = document.querySelector('meta[name="theme-color"]');

  setThemeFromLocalStorageOrPrefersColorScheme();
  setEventListeners();

  function setEventListeners() {
    modeButton?.addEventListener("click", () => {
      localStorage["mode"] === MODE.LIGHT ? setDarkMode() : setLightMode();
    });
  }

  function setThemeFromLocalStorageOrPrefersColorScheme() {
    localStorage["mode"] === MODE.DARK ||
    (!("mode" in localStorage) &&
      window.matchMedia(`(prefers-color-scheme: ${MODE.DARK})`).matches)
      ? setDarkMode()
      : setLightMode();
  }

  function setLightMode() {
    html.classList.remove(MODE.DARK);
    html.classList.add(MODE.LIGHT);
    localStorage.setItem("mode", MODE.LIGHT);
    sunIcon.classList.add("hidden");
    moonIcon.classList.remove("hidden");
    metaThemeColor.setAttribute("content", "oklch(98.7% 0.022 95.277)");
  }

  function setDarkMode() {
    html.classList.remove(MODE.LIGHT);
    html.classList.add(MODE.DARK);
    localStorage.setItem("mode", MODE.DARK);
    sunIcon.classList.remove("hidden");
    moonIcon.classList.add("hidden");
    metaThemeColor.setAttribute("content", "oklch(21.6% 0.006 56.043)");
  }
</script>
