@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-light: oklch(98.7% 0.022 95.277);
  --color-dark: oklch(21.6% 0.006 56.043);
  --color-white: #fff;
  --color-black: #000;
}

@font-face {
  font-family: "CourierPrime";
  src: url("/src/assets/fonts/CourierPrime-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "CourierPrime", monospace;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
