---
import BreakLine from "@components/BreakLine.astro";
import DownloadButton from "@components/buttons/DownloadButton.astro";
import Heading1 from "@components/headings/Heading1.astro";
import Page from "@components/Page.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Page>
    <header class="flex justify-between">
      <Heading1>Sergio Vegas Alonso</Heading1>
      <DownloadButton />
    </header>
    <BreakLine />
    <BreakLine />
    <p>¡Hola! Mi nombre es Sergio y soy ingeniero de software.</p>
    <BreakLine />
    <p>
      A lo largo de mi carrera he trabajado en muchos tipos de proyectos,
      siempre con el foco en el rendimiento, las buenas prácticas y la mejora
      continua.
    </p>
  </Page>
</Layout>
