---
import BreakLine from "@components/BreakLine.astro";
import Heading1 from "@components/headings/Heading1.astro";
import Page from "@components/Page.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Page>
    <Heading1>Sergio Vegas Alonso</Heading1>
    <BreakLine />
    <p>HOllll</p>
  </Page>
</Layout>
