---
import "@styles/global.css";
---

<!doctype html>
<html id="root" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Sergio Vegas Alonso</title>
  </head>
  <body
    class="bg-light dark:bg-dark flex justify-center text-black dark:text-white"
  >
    <slot />
  </body>
</html>
